.button-arrow {
  position: relative;
  height: 42px;
  width: 138px;
  border: 2px solid white;
}

.button-arrow:after {
  content: "";
  display: block;
  position: absolute;
  background-color: #7a8e81;
  top: 35px;
  left: 60px;
  transform: rotate(-45deg);
  width: 15px;
  height: 15px;
  border: 2px solid white;
  border-right: 0;
  border-top: 0;
}

.button-arrow:before {
  content: "READ MORE";
  top: 12px;
  left: 33px;
  position: absolute;
  display: block;
  font-family: 'FjallaOne-Regular';
  font-size: 17px;
  color: white;
}
