@font-face {
  font-family: 'FjallaOne-Regular';
  src: url(../assets/fonts/FjallaOne-Regular.ttf);
}

@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url(../assets/fonts/SourceSansPro-Regular.ttf);
}