.contact-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;

  .mail-picture {
    margin-left: 3px;
    width: 99px;
    height: 99px;
    border-radius: 50%;
    position: relative;
    background-color: white;
  }

  .mail-picture:before {
    content: url(../assets/images/contact/Mail.png);
    position: absolute;
    left: 22px;
    top: 22px;
  }

  h3, h4 {
    padding-left: 3px;
    color: white;
  }
  
  h3 {
    margin: 27px 0 10px 0;
    font-size: 29px;
    font-weight: 400;
  }

  h4 {
    position: relative;
    margin-top: 0px;
    font-size: 21px;
    font-weight: 300;
  }

  .header-lines:after {
    width: 72px;
    right: -93px;

  }

  .header-lines:before {
    left: -100px;
    width: 78px;
  }
}

.contact-form {
  display: grid;
  justify-content: center;
  width: 100%;
  padding-top: 7px;
  max-width: 600px;
  grid-template-areas: 'name email' 'message message' 'button button';
  grid-gap: 30px;
  grid-template-rows: 46px 126px 35px;
  grid-template-columns: 45% 45%;

  input, textarea {
    background-color: #245963;
    border: 1px solid #387d89;
    resize: none;
  }

  .contact-form__name {
    grid-area: name;
  }

  .contact-form__email {
    grid-area: email;
  }

  .contact-form__message {
    grid-area: message;
  }

  .contact-form__button-submit {
    grid-area: button;
    position: relative;
    width: 100px;
    margin: 0 calc(50% - 47px);

    input {
      display: block;
      position: relative;
      grid-area: button;
      height: 36px;
      width: 102px;
      background-color: #245963;
      text-transform: uppercase;
      color: white;
    }
  }

  .contact-form__button-submit:after {
    content: "";
    display: block;
    position: absolute;
    top: 28px;
    left: 43px;
    width: 15px;
    height: 15px;
    transform: rotate(-45deg);
    border: 1px solid #387d89;
    border-right: 0;
    border-top: 0;
    background-color: #245963;
  }
}

