.promo-cards {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  min-height: 672px;
  color: white;

  @media (max-width: 675px) {
    display: block;
  }

  .promo-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

    &-h3 {
      position: relative;
      margin-top: 18px;
      margin-bottom: 5px;
      font-size: 29px;
      font-weight: 400;
    }

    &-h3:before {
      position: absolute;
      top: -125px;
      left: calc(50% - 51px);
    }

    &-p {
      margin-top: 0;
      padding: 0 62px 0 47px;
      text-align: center;
      font-family: 'SourceSansPro-Regular';
    }

  }

  .promo-card_red {
    background-color: #e84c3d;
  }

  .promo-card_yellow {
    background-color: #fdbd1f;
  }

  .promo-card_green {
    background-color: #1bbc9b;
  }

  .promo-card_purple {
    background-color: #9b58b5;
  }


}
