
@import './common-elements.scss';
@import './normalize.scss';
@import './header.scss';
@import './fonts.scss';
@import './main-promo-text.scss';
@import './main-promo-cards.scss';
@import './main-promo-persons.scss';
@import './main-contact-area.scss';
@import './footer.scss';

body {
  background-image: url(../assets/images/main-foto.png);
  background-repeat: no-repeat;
  background-position: center -1px;
  background-color: #29606b;
}

.common-wrapper {
  margin: 0 auto;
  max-width: 1170px;
}

